@import "../../assets/scss/Main.scss";

header {
  background: var(--header-bg);
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 4;
  @media (max-width: 845px) {
    padding: 0 14px;
  }
  .header {
    max-width: 1280px;
    width: 100%;
    padding: 24px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 845px) {
      padding: 16px 0 8px;
    }
    &__logo {
      .logo__text {
        fill: var(--logo-color);
      }
      &:nth-child(1) {
        @media (max-width: 845px) {
          max-width: 100px;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
    &__input {
      margin-left: 40px;
      max-width: 660px;
      width: 100%;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.005em;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid var(--header-border);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        fill: var(--logo-color);
        max-width: 34px;
        z-index: 1000;
        min-height: 24px;
        min-width: 24px;
      }
      @media (max-width: 845px) {
        margin-left: 20px;
        height: 40px;
        svg {
          max-width: 24px;
          min-height: 24px;
          min-width: 24px;
        }
      }
      @media (max-width: 500px) {
        margin-left: 0;
      }
      input {
        width: 100%;
        background-color: var(--header-bg);
        color: var(--font-color);
      }
    }
    button {
      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-left: 20px;
        @media (max-width: 845px) {
          margin-left: 10px;
        }
      }
      &:nth-last-child(3) {
        margin-left: 40px;
        @media (max-width: 845px) {
          margin-left: 20px;
        }
        @media (max-width: 500px) {
          margin-left: 10px;
        }
      }
    }
    .button-icon {
      position: relative;
      max-width: 60px;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--header-button);
      border: 1px solid var(--header-border);
      border-radius: 6px;
      transition: 0.2s;
      svg {
        fill: var(--logo-color);
        max-width: 34px;
        min-height: 24px;
        min-width: 24px;
      }
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 845px) {
        height: 40px;
        max-width: 40px;
        svg {
          max-width: 24px;
        }
      }
    }
    .button-faivorite {
      background: #189CA8;
      border-radius: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 28px;
      @media (max-width: 845px) {
        height: 40px;
        max-width: 40px;
        padding: 0 16px;
        img {
          max-width: 24px;
        }
        p {
          display: none;
        }
      }
      p {
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
        color: white;
      }
      img {
        margin-right: 10px;
        @media (max-width: 845px) {
          margin-right: 0;
        }
      }
    }
  }
}
.counter-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: white;
  bottom: -10px;
  right: -10px;
  background: #096DD9;
}