.corzina {
  &__wrapper {
    width: 100%;
  }
  &__cards {
    width: 100%;
  }
  &__contant {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.card__image {
  max-width: 80px;
  width: 100%;
  height: 80px;
  max-height: 80px;
  border-radius: 4px;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}